--
-- PostgreSQL database dump
--

\restrict 25WdsRkdAxZHtBjvxoj57NDUeAEIJT7ov5y2TqOb8IS0NNrfeM1DZCNVGVAtiTD

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: shipspace; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA shipspace;


ALTER SCHEMA shipspace OWNER TO postgres;

--
-- Name: SCHEMA shipspace; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA shipspace IS 'ShipSpace LCL Marketplace schema containing all core tables, views, and business logic';


--
-- Name: fn_record_booking_status_history(); Type: FUNCTION; Schema: shipspace; Owner: postgres
--

CREATE FUNCTION shipspace.fn_record_booking_status_history() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_changed_by BIGINT;
    v_reason     TEXT;
BEGIN
    IF TG_OP = 'INSERT' THEN
        -- Initial booking creation record
        INSERT INTO booking_status_history (
            booking_id,
            changed_by_user_id,
            old_status,
            new_status,
            changed_at,
            reason
        ) VALUES (
            NEW.id,
            NEW.trader_id,
            NULL,
            NEW.status,
            CURRENT_TIMESTAMP,
            'Initial booking confirmed'
        );

    ELSIF TG_OP = 'UPDATE' THEN
        -- Record changes whenever status changes
        IF NEW.status IS DISTINCT FROM OLD.status THEN
            -- Retrieve acting user if provided by application session context
            v_changed_by := NULLIF(current_setting('shipspace.current_user_id', true), '')::BIGINT;
            IF v_changed_by IS NULL THEN
                v_changed_by := NEW.trader_id;
            END IF;

            -- Retrieve reason if provided by application session context
            v_reason := NULLIF(current_setting('shipspace.status_change_reason', true), '');
            IF v_reason IS NULL THEN
                IF NEW.status = 'cancelled' THEN
                    v_reason := 'Booking cancelled';
                ELSIF NEW.status = 'completed' THEN
                    v_reason := 'Shipment completed';
                ELSE
                    v_reason := 'Status updated to ' || NEW.status;
                END IF;
            END IF;

            INSERT INTO booking_status_history (
                booking_id,
                changed_by_user_id,
                old_status,
                new_status,
                changed_at,
                reason
            ) VALUES (
                NEW.id,
                v_changed_by,
                OLD.status,
                NEW.status,
                CURRENT_TIMESTAMP,
                v_reason
            );
        END IF;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION shipspace.fn_record_booking_status_history() OWNER TO postgres;

--
-- Name: fn_restore_capacity_on_cancellation(); Type: FUNCTION; Schema: shipspace; Owner: postgres
--

CREATE FUNCTION shipspace.fn_restore_capacity_on_cancellation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_listing            capacity_listing%ROWTYPE;
    v_new_available_cbm  NUMERIC(10, 2);
    v_new_available_wt   NUMERIC(10, 2);
    v_new_listing_status VARCHAR(20);
BEGIN
    -- Only act when transitioning from 'confirmed' to 'cancelled'
    IF OLD.status = 'confirmed' AND NEW.status = 'cancelled' THEN
        -- 1. Lock the associated capacity_listing row
        SELECT * INTO v_listing
        FROM capacity_listing
        WHERE id = OLD.listing_id
        FOR UPDATE;

        IF NOT FOUND THEN
            RAISE EXCEPTION 'Listing % associated with booking % does not exist',
                OLD.listing_id, OLD.id;
        END IF;

        -- 2 & 3. Restore exact reserved quantities
        -- 4. Never exceed original total capacity
        v_new_available_cbm := LEAST(v_listing.total_cbm, v_listing.available_cbm + OLD.booked_cbm);
        v_new_available_wt  := LEAST(v_listing.total_weight, v_listing.available_weight + OLD.booked_weight);

        -- 5. Reopen listing if it was 'full' and now has available capacity
        IF v_listing.status = 'full' AND v_new_available_cbm > 0 AND v_new_available_wt > 0 THEN
            v_new_listing_status := 'open';
        ELSE
            v_new_listing_status := v_listing.status;
        END IF;

        -- 6. Update capacity_listing
        UPDATE capacity_listing
        SET available_cbm    = v_new_available_cbm,
            available_weight = v_new_available_wt,
            status           = v_new_listing_status,
            updated_at       = CURRENT_TIMESTAMP
        WHERE id = v_listing.id;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION shipspace.fn_restore_capacity_on_cancellation() OWNER TO postgres;

--
-- Name: fn_set_updated_at(); Type: FUNCTION; Schema: shipspace; Owner: postgres
--

CREATE FUNCTION shipspace.fn_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION shipspace.fn_set_updated_at() OWNER TO postgres;

--
-- Name: fn_validate_and_reserve_booking(); Type: FUNCTION; Schema: shipspace; Owner: postgres
--

CREATE FUNCTION shipspace.fn_validate_and_reserve_booking() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_listing              capacity_listing%ROWTYPE;
    v_charge_by_cbm        NUMERIC(12, 2);
    v_charge_by_weight     NUMERIC(12, 2);
    v_calculated_price     NUMERIC(12, 2);
    v_new_available_cbm    NUMERIC(10, 2);
    v_new_available_weight NUMERIC(10, 2);
    v_new_listing_status   VARCHAR(20);
BEGIN
    -- 1 & 2. Lock the corresponding capacity_listing row and verify existence
    SELECT * INTO v_listing
    FROM capacity_listing
    WHERE id = NEW.listing_id
    FOR UPDATE;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'Listing % does not exist', NEW.listing_id;
    END IF;

    -- 3. Verify listing status is 'open'
    IF v_listing.status <> 'open' THEN
        RAISE EXCEPTION 'Listing % is not open for booking (current status: %)',
            NEW.listing_id, v_listing.status;
    END IF;

    -- 4. Verify booking cutoff date: booking_time::date <= cutoff_date
    IF NEW.booking_time IS NULL THEN
        NEW.booking_time := CURRENT_TIMESTAMP;
    END IF;

    IF NEW.booking_time::date > v_listing.cutoff_date THEN
        RAISE EXCEPTION 'Booking must be made on or before the listing cutoff date % (attempted booking date: %)',
            v_listing.cutoff_date, NEW.booking_time::date;
    END IF;

    -- 5. Verify booked_cbm <= available_cbm
    IF NEW.booked_cbm > v_listing.available_cbm THEN
        RAISE EXCEPTION 'Insufficient available CBM on listing %: requested %, available %',
            NEW.listing_id, NEW.booked_cbm, v_listing.available_cbm;
    END IF;

    -- 6. Verify booked_weight <= available_weight
    IF NEW.booked_weight > v_listing.available_weight THEN
        RAISE EXCEPTION 'Insufficient available weight on listing %: requested %, available %',
            NEW.listing_id, NEW.booked_weight, v_listing.available_weight;
    END IF;

    -- 7. Verify selected cargo type is allowed for this listing
    IF NOT EXISTS (
        SELECT 1
        FROM listing_cargo
        WHERE listing_id = NEW.listing_id
          AND cargo_type_id = NEW.cargo_type_id
    ) THEN
        RAISE EXCEPTION 'Cargo type % is not allowed for listing %',
            NEW.cargo_type_id, NEW.listing_id;
    END IF;

    -- 8. Compute and freeze historical price snapshot
    v_charge_by_cbm    := NEW.booked_cbm * v_listing.price_per_cbm;
    v_charge_by_weight := NEW.booked_weight * v_listing.price_per_tonne;
    v_calculated_price := ROUND(GREATEST(v_charge_by_cbm, v_charge_by_weight, v_listing.minimum_charge), 2);
    NEW.total_price    := v_calculated_price;

    -- Ensure initial booking status is confirmed
    IF NEW.status IS NULL THEN
        NEW.status := 'confirmed';
    END IF;

    -- 9 & 10. Atomically reduce available capacity on the listing
    v_new_available_cbm    := v_listing.available_cbm - NEW.booked_cbm;
    v_new_available_weight := v_listing.available_weight - NEW.booked_weight;

    -- If either capacity dimension drops to zero, mark listing 'full', else 'open'
    IF v_new_available_cbm = 0 OR v_new_available_weight = 0 THEN
        v_new_listing_status := 'full';
    ELSE
        v_new_listing_status := 'open';
    END IF;

    -- 11. Update listing with new capacity, status, and updated_at
    UPDATE capacity_listing
    SET available_cbm    = v_new_available_cbm,
        available_weight = v_new_available_weight,
        status           = v_new_listing_status,
        updated_at       = CURRENT_TIMESTAMP
    WHERE id = v_listing.id;

    RETURN NEW;
END;
$$;


ALTER FUNCTION shipspace.fn_validate_and_reserve_booking() OWNER TO postgres;

--
-- Name: fn_validate_booking_status_transition(); Type: FUNCTION; Schema: shipspace; Owner: postgres
--

CREATE FUNCTION shipspace.fn_validate_booking_status_transition() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Prevent modification of core parameters on an existing booking
    IF NEW.listing_id <> OLD.listing_id THEN
        RAISE EXCEPTION 'Cannot modify listing_id for an existing booking %', OLD.id;
    END IF;

    IF NEW.trader_id <> OLD.trader_id THEN
        RAISE EXCEPTION 'Cannot modify trader_id for an existing booking %', OLD.id;
    END IF;

    IF NEW.booked_cbm <> OLD.booked_cbm OR NEW.booked_weight <> OLD.booked_weight THEN
        RAISE EXCEPTION 'Cannot modify reserved CBM or weight for booking %. Cancel and book again.', OLD.id;
    END IF;

    IF NEW.total_price <> OLD.total_price THEN
        RAISE EXCEPTION 'Booking total_price is an immutable historical snapshot and cannot be modified';
    END IF;

    -- Validate status transitions
    IF NEW.status IS DISTINCT FROM OLD.status THEN
        IF OLD.status = 'confirmed' AND NEW.status IN ('cancelled', 'completed') THEN
            -- Valid transition
            NULL;
        ELSIF OLD.status = 'cancelled' THEN
            RAISE EXCEPTION 'Booking % has already been cancelled and cannot transition to %',
                OLD.id, NEW.status;
        ELSIF OLD.status = 'completed' THEN
            RAISE EXCEPTION 'Booking % is already completed and cannot transition to %',
                OLD.id, NEW.status;
        ELSIF OLD.status = NEW.status THEN
            RAISE EXCEPTION 'Invalid booking status transition: booking % is already in status "%"',
                OLD.id, OLD.status;
        ELSE
            RAISE EXCEPTION 'Invalid booking status transition from "%" to "%" for booking %',
                OLD.status, NEW.status, OLD.id;
        END IF;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION shipspace.fn_validate_booking_status_transition() OWNER TO postgres;

--
-- Name: sp_cancel_booking(bigint, bigint, text); Type: PROCEDURE; Schema: shipspace; Owner: postgres
--

CREATE PROCEDURE shipspace.sp_cancel_booking(IN p_booking_id bigint, IN p_user_id bigint, IN p_reason text DEFAULT 'Cancelled by user'::text)
    LANGUAGE plpgsql
    AS $$
BEGIN
    PERFORM set_config('shipspace.current_user_id', p_user_id::text, true);
    PERFORM set_config('shipspace.status_change_reason', p_reason, true);

    UPDATE booking
    SET status = 'cancelled'
    WHERE id = p_booking_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'Booking % does not exist', p_booking_id;
    END IF;
END;
$$;


ALTER PROCEDURE shipspace.sp_cancel_booking(IN p_booking_id bigint, IN p_user_id bigint, IN p_reason text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.admin (
    id bigint NOT NULL,
    role character varying(20) DEFAULT 'admin'::character varying NOT NULL,
    CONSTRAINT ck_admin_role CHECK (((role)::text = 'admin'::text))
);


ALTER TABLE shipspace.admin OWNER TO postgres;

--
-- Name: admin_cargo_type; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.admin_cargo_type (
    admin_id bigint NOT NULL,
    cargo_type_id bigint NOT NULL
);


ALTER TABLE shipspace.admin_cargo_type OWNER TO postgres;

--
-- Name: admin_port; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.admin_port (
    admin_id bigint NOT NULL,
    port_id bigint NOT NULL
);


ALTER TABLE shipspace.admin_port OWNER TO postgres;

--
-- Name: admin_route; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.admin_route (
    admin_id bigint NOT NULL,
    route_id bigint NOT NULL
);


ALTER TABLE shipspace.admin_route OWNER TO postgres;

--
-- Name: booking; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.booking (
    id bigint NOT NULL,
    trader_id bigint NOT NULL,
    listing_id bigint NOT NULL,
    cargo_type_id bigint NOT NULL,
    booked_cbm numeric(10,2) NOT NULL,
    booked_weight numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    status character varying(20) DEFAULT 'confirmed'::character varying NOT NULL,
    booking_time timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_booking_booked_cbm CHECK ((booked_cbm > (0)::numeric)),
    CONSTRAINT ck_booking_booked_weight CHECK ((booked_weight > (0)::numeric)),
    CONSTRAINT ck_booking_status CHECK (((status)::text = ANY ((ARRAY['confirmed'::character varying, 'cancelled'::character varying, 'completed'::character varying])::text[]))),
    CONSTRAINT ck_booking_total_price CHECK ((total_price >= (0)::numeric))
);


ALTER TABLE shipspace.booking OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.booking ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: booking_status_history; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.booking_status_history (
    id bigint NOT NULL,
    booking_id bigint NOT NULL,
    changed_by_user_id bigint NOT NULL,
    old_status character varying(20),
    new_status character varying(20) NOT NULL,
    changed_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reason text,
    CONSTRAINT ck_history_new_status CHECK (((new_status)::text = ANY ((ARRAY['confirmed'::character varying, 'cancelled'::character varying, 'completed'::character varying])::text[]))),
    CONSTRAINT ck_history_old_status CHECK (((old_status IS NULL) OR ((old_status)::text = ANY ((ARRAY['confirmed'::character varying, 'cancelled'::character varying, 'completed'::character varying])::text[])))),
    CONSTRAINT ck_history_status_transition CHECK (((old_status IS NULL) OR ((old_status)::text <> (new_status)::text)))
);


ALTER TABLE shipspace.booking_status_history OWNER TO postgres;

--
-- Name: booking_status_history_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.booking_status_history ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.booking_status_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: capacity_listing; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.capacity_listing (
    id bigint NOT NULL,
    provider_id bigint NOT NULL,
    route_id bigint NOT NULL,
    departure_date date NOT NULL,
    arrival_date date NOT NULL,
    cutoff_date date NOT NULL,
    total_cbm numeric(10,2) NOT NULL,
    available_cbm numeric(10,2) NOT NULL,
    total_weight numeric(10,2) NOT NULL,
    available_weight numeric(10,2) NOT NULL,
    price_per_cbm numeric(12,2) NOT NULL,
    price_per_tonne numeric(12,2) NOT NULL,
    minimum_charge numeric(12,2) NOT NULL,
    status character varying(20) DEFAULT 'open'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_listing_available_cbm CHECK (((available_cbm >= (0)::numeric) AND (available_cbm <= total_cbm))),
    CONSTRAINT ck_listing_available_weight CHECK (((available_weight >= (0)::numeric) AND (available_weight <= total_weight))),
    CONSTRAINT ck_listing_min_charge CHECK ((minimum_charge >= (0)::numeric)),
    CONSTRAINT ck_listing_price_cbm CHECK ((price_per_cbm >= (0)::numeric)),
    CONSTRAINT ck_listing_price_tonne CHECK ((price_per_tonne >= (0)::numeric)),
    CONSTRAINT ck_listing_schedule CHECK (((cutoff_date <= departure_date) AND (departure_date < arrival_date))),
    CONSTRAINT ck_listing_status CHECK (((status)::text = ANY ((ARRAY['open'::character varying, 'full'::character varying, 'closed'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT ck_listing_status_capacity CHECK (((((status)::text <> 'open'::text) OR ((available_cbm > (0)::numeric) AND (available_weight > (0)::numeric))) AND (((status)::text <> 'full'::text) OR ((available_cbm = (0)::numeric) OR (available_weight = (0)::numeric))))),
    CONSTRAINT ck_listing_total_cbm CHECK ((total_cbm > (0)::numeric)),
    CONSTRAINT ck_listing_total_weight CHECK ((total_weight > (0)::numeric))
);


ALTER TABLE shipspace.capacity_listing OWNER TO postgres;

--
-- Name: capacity_listing_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.capacity_listing ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.capacity_listing_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cargo_type; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.cargo_type (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text
);


ALTER TABLE shipspace.cargo_type OWNER TO postgres;

--
-- Name: cargo_type_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.cargo_type ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.cargo_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listing_cargo; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.listing_cargo (
    listing_id bigint NOT NULL,
    cargo_type_id bigint NOT NULL
);


ALTER TABLE shipspace.listing_cargo OWNER TO postgres;

--
-- Name: port; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.port (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    country character varying(100) NOT NULL,
    un_locode character(5) NOT NULL,
    CONSTRAINT ck_port_un_locode_format CHECK ((un_locode ~ '^[A-Z]{2}[A-Z0-9]{3}$'::text))
);


ALTER TABLE shipspace.port OWNER TO postgres;

--
-- Name: port_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.port ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.port_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: provider; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.provider (
    id bigint NOT NULL,
    role character varying(20) DEFAULT 'provider'::character varying NOT NULL,
    company_name character varying(255) NOT NULL,
    gst_tax_id character varying(50) NOT NULL,
    contact_phone character varying(50) NOT NULL,
    CONSTRAINT ck_provider_role CHECK (((role)::text = 'provider'::text))
);


ALTER TABLE shipspace.provider OWNER TO postgres;

--
-- Name: route; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.route (
    id bigint NOT NULL,
    origin_port_id bigint NOT NULL,
    destination_port_id bigint NOT NULL,
    typical_transit_days integer NOT NULL,
    CONSTRAINT ck_route_distinct_ports CHECK ((origin_port_id <> destination_port_id)),
    CONSTRAINT ck_route_transit_days CHECK ((typical_transit_days > 0))
);


ALTER TABLE shipspace.route OWNER TO postgres;

--
-- Name: route_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.route ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.route_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trader; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.trader (
    id bigint NOT NULL,
    role character varying(20) DEFAULT 'trader'::character varying NOT NULL,
    company_name character varying(255) NOT NULL,
    gst_tax_id character varying(50) NOT NULL,
    contact_phone character varying(50) NOT NULL,
    CONSTRAINT ck_trader_role CHECK (((role)::text = 'trader'::text))
);


ALTER TABLE shipspace.trader OWNER TO postgres;

--
-- Name: user_account; Type: TABLE; Schema: shipspace; Owner: postgres
--

CREATE TABLE shipspace.user_account (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_user_account_role CHECK (((role)::text = ANY ((ARRAY['provider'::character varying, 'trader'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE shipspace.user_account OWNER TO postgres;

--
-- Name: user_account_id_seq; Type: SEQUENCE; Schema: shipspace; Owner: postgres
--

ALTER TABLE shipspace.user_account ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME shipspace.user_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: admin pk_admin; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin
    ADD CONSTRAINT pk_admin PRIMARY KEY (id);


--
-- Name: admin_cargo_type pk_admin_cargo_type; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_cargo_type
    ADD CONSTRAINT pk_admin_cargo_type PRIMARY KEY (admin_id, cargo_type_id);


--
-- Name: admin_port pk_admin_port; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_port
    ADD CONSTRAINT pk_admin_port PRIMARY KEY (admin_id, port_id);


--
-- Name: admin_route pk_admin_route; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_route
    ADD CONSTRAINT pk_admin_route PRIMARY KEY (admin_id, route_id);


--
-- Name: booking pk_booking; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking
    ADD CONSTRAINT pk_booking PRIMARY KEY (id);


--
-- Name: booking_status_history pk_booking_status_history; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking_status_history
    ADD CONSTRAINT pk_booking_status_history PRIMARY KEY (id);


--
-- Name: capacity_listing pk_capacity_listing; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.capacity_listing
    ADD CONSTRAINT pk_capacity_listing PRIMARY KEY (id);


--
-- Name: cargo_type pk_cargo_type; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.cargo_type
    ADD CONSTRAINT pk_cargo_type PRIMARY KEY (id);


--
-- Name: listing_cargo pk_listing_cargo; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.listing_cargo
    ADD CONSTRAINT pk_listing_cargo PRIMARY KEY (listing_id, cargo_type_id);


--
-- Name: port pk_port; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.port
    ADD CONSTRAINT pk_port PRIMARY KEY (id);


--
-- Name: provider pk_provider; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.provider
    ADD CONSTRAINT pk_provider PRIMARY KEY (id);


--
-- Name: route pk_route; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.route
    ADD CONSTRAINT pk_route PRIMARY KEY (id);


--
-- Name: trader pk_trader; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.trader
    ADD CONSTRAINT pk_trader PRIMARY KEY (id);


--
-- Name: user_account pk_user_account; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.user_account
    ADD CONSTRAINT pk_user_account PRIMARY KEY (id);


--
-- Name: cargo_type uq_cargo_type_name; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.cargo_type
    ADD CONSTRAINT uq_cargo_type_name UNIQUE (name);


--
-- Name: port uq_port_un_locode; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.port
    ADD CONSTRAINT uq_port_un_locode UNIQUE (un_locode);


--
-- Name: route uq_route_ports; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.route
    ADD CONSTRAINT uq_route_ports UNIQUE (origin_port_id, destination_port_id);


--
-- Name: user_account uq_user_account_email; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.user_account
    ADD CONSTRAINT uq_user_account_email UNIQUE (email);


--
-- Name: user_account uq_user_account_id_role; Type: CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.user_account
    ADD CONSTRAINT uq_user_account_id_role UNIQUE (id, role);


--
-- Name: booking trg_booking_updated_at; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_booking_updated_at BEFORE UPDATE ON shipspace.booking FOR EACH ROW EXECUTE FUNCTION shipspace.fn_set_updated_at();


--
-- Name: capacity_listing trg_capacity_listing_updated_at; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_capacity_listing_updated_at BEFORE UPDATE ON shipspace.capacity_listing FOR EACH ROW EXECUTE FUNCTION shipspace.fn_set_updated_at();


--
-- Name: booking trg_record_booking_status_history; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_record_booking_status_history AFTER INSERT OR UPDATE OF status ON shipspace.booking FOR EACH ROW EXECUTE FUNCTION shipspace.fn_record_booking_status_history();


--
-- Name: booking trg_restore_capacity_on_cancellation; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_restore_capacity_on_cancellation AFTER UPDATE OF status ON shipspace.booking FOR EACH ROW EXECUTE FUNCTION shipspace.fn_restore_capacity_on_cancellation();


--
-- Name: user_account trg_user_account_updated_at; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_user_account_updated_at BEFORE UPDATE ON shipspace.user_account FOR EACH ROW EXECUTE FUNCTION shipspace.fn_set_updated_at();


--
-- Name: booking trg_validate_and_reserve_booking; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_validate_and_reserve_booking BEFORE INSERT ON shipspace.booking FOR EACH ROW EXECUTE FUNCTION shipspace.fn_validate_and_reserve_booking();


--
-- Name: booking trg_validate_booking_status_transition; Type: TRIGGER; Schema: shipspace; Owner: postgres
--

CREATE TRIGGER trg_validate_booking_status_transition BEFORE UPDATE ON shipspace.booking FOR EACH ROW EXECUTE FUNCTION shipspace.fn_validate_booking_status_transition();


--
-- Name: admin_cargo_type fk_admin_cargo_type_admin; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_cargo_type
    ADD CONSTRAINT fk_admin_cargo_type_admin FOREIGN KEY (admin_id) REFERENCES shipspace.admin(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin_cargo_type fk_admin_cargo_type_cargo; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_cargo_type
    ADD CONSTRAINT fk_admin_cargo_type_cargo FOREIGN KEY (cargo_type_id) REFERENCES shipspace.cargo_type(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin_port fk_admin_port_admin; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_port
    ADD CONSTRAINT fk_admin_port_admin FOREIGN KEY (admin_id) REFERENCES shipspace.admin(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin_port fk_admin_port_port; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_port
    ADD CONSTRAINT fk_admin_port_port FOREIGN KEY (port_id) REFERENCES shipspace.port(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin_route fk_admin_route_admin; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_route
    ADD CONSTRAINT fk_admin_route_admin FOREIGN KEY (admin_id) REFERENCES shipspace.admin(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin_route fk_admin_route_route; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin_route
    ADD CONSTRAINT fk_admin_route_route FOREIGN KEY (route_id) REFERENCES shipspace.route(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: admin fk_admin_user; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.admin
    ADD CONSTRAINT fk_admin_user FOREIGN KEY (id, role) REFERENCES shipspace.user_account(id, role) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: booking fk_booking_cargo_type; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking
    ADD CONSTRAINT fk_booking_cargo_type FOREIGN KEY (cargo_type_id) REFERENCES shipspace.cargo_type(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking fk_booking_listing; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking
    ADD CONSTRAINT fk_booking_listing FOREIGN KEY (listing_id) REFERENCES shipspace.capacity_listing(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking fk_booking_listing_cargo; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking
    ADD CONSTRAINT fk_booking_listing_cargo FOREIGN KEY (listing_id, cargo_type_id) REFERENCES shipspace.listing_cargo(listing_id, cargo_type_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking fk_booking_trader; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking
    ADD CONSTRAINT fk_booking_trader FOREIGN KEY (trader_id) REFERENCES shipspace.trader(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking_status_history fk_history_booking; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking_status_history
    ADD CONSTRAINT fk_history_booking FOREIGN KEY (booking_id) REFERENCES shipspace.booking(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking_status_history fk_history_changed_by; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.booking_status_history
    ADD CONSTRAINT fk_history_changed_by FOREIGN KEY (changed_by_user_id) REFERENCES shipspace.user_account(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: listing_cargo fk_listing_cargo_listing; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.listing_cargo
    ADD CONSTRAINT fk_listing_cargo_listing FOREIGN KEY (listing_id) REFERENCES shipspace.capacity_listing(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: listing_cargo fk_listing_cargo_type; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.listing_cargo
    ADD CONSTRAINT fk_listing_cargo_type FOREIGN KEY (cargo_type_id) REFERENCES shipspace.cargo_type(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: capacity_listing fk_listing_provider; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.capacity_listing
    ADD CONSTRAINT fk_listing_provider FOREIGN KEY (provider_id) REFERENCES shipspace.provider(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: capacity_listing fk_listing_route; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.capacity_listing
    ADD CONSTRAINT fk_listing_route FOREIGN KEY (route_id) REFERENCES shipspace.route(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: provider fk_provider_user; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.provider
    ADD CONSTRAINT fk_provider_user FOREIGN KEY (id, role) REFERENCES shipspace.user_account(id, role) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: route fk_route_destination_port; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.route
    ADD CONSTRAINT fk_route_destination_port FOREIGN KEY (destination_port_id) REFERENCES shipspace.port(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: route fk_route_origin_port; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.route
    ADD CONSTRAINT fk_route_origin_port FOREIGN KEY (origin_port_id) REFERENCES shipspace.port(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: trader fk_trader_user; Type: FK CONSTRAINT; Schema: shipspace; Owner: postgres
--

ALTER TABLE ONLY shipspace.trader
    ADD CONSTRAINT fk_trader_user FOREIGN KEY (id, role) REFERENCES shipspace.user_account(id, role) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 25WdsRkdAxZHtBjvxoj57NDUeAEIJT7ov5y2TqOb8IS0NNrfeM1DZCNVGVAtiTD

